<!-- Register -->
<!--<section class="form mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto">
        <div class="card bg-white p-4 mb-4">
          <div class="card-body">
            <h1><i class="fas fa-user-plus"></i> Register</h1>
            <p>
              Register to list your bootcamp or rate, review and favorite
              bootcamps
            </p>
            <form [formGroup]="signupForm" (ngSubmit)="registerUser()">
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  placeholder="Enter full name"
                  required
                />
              </div>
              <div class="form-group">
                <label for="email">Email Address</label>
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  placeholder="Enter email"
                  required
                />
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  name="password"
                  class="form-control"
                  placeholder="Enter password"
                  required
                />
              </div>
              <div class="form-group mb-4">
                <label for="password2">Confirm Password</label>
                <input
                  type="password"
                  name="password2"
                  class="form-control"
                  placeholder="Confirm password"
                  required
                />
              </div>

              <div class="card card-body mb-3">
                <h5>User Role</h5>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="role"
                    value="user"
                    checked
                  />
                  <label class="form-check-label">
                    Regular User (Browse, Write reviews, etc)
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="role"
                    value="publisher"
                  />
                  <label class="form-check-label">
                    Bootcamp Publisher
                  </label>
                </div>
              </div>
              <p class="text-danger">
                * You must be affiliated with the bootcamp in some way in
                order to add it to DevCamper.
              </p>
              <div class="form-group">
                <input
                  type="submit"
                  value="Register"
                  class="btn btn-primary btn-block"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->



<div class="signup-content animated fadeIn">
  <mat-card>
    <mat-card-content>
      <div class="auth-wrapper">
        <form class="form-signin" [formGroup]="signupForm" (ngSubmit)="registerUser()">
          <h3 class="h3 mb-3 font-weight-normal text-center">Please sign up</h3>
          <mat-form-field class="full-width-input"   appearance="outline">
            <input matInput placeholder="name" formControlName="name" class="person-input">
            <mat-hint align="end">{{signupForm.controls.name.value?.length || 0}}/10</mat-hint>
            <mat-error *ngFor="let validation of user_validation_messages.name">
              <mat-error class="error-message" *ngIf="signupForm.get('name').hasError(validation.type) && (signupForm.get('name').dirty || signupForm.get('name').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width-input"   appearance="outline">
            <input matInput type="email" placeholder="Email" formControlName="email" required>
            <mat-error *ngFor="let validation of user_validation_messages.email">
              <mat-error class="error-message" *ngIf="signupForm.get('email').hasError(validation.type) && (signupForm.get('email').dirty || signupForm.get('email').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>


          <div formGroupName="matching_passwords">
            <mat-form-field class="full-width-input"   appearance="outline">
              <input matInput type="password" placeholder="Password" formControlName="password" required>
              <mat-error *ngFor="let validation of user_validation_messages.password">
                <mat-error class="error-message" *ngIf="signupForm.get('matching_passwords').get('password').hasError(validation.type) && (signupForm.get('matching_passwords').get('password').dirty || signupForm.get('matching_passwords').get('password').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input"   appearance="outline">
              <input matInput type="password" placeholder="Confirm Password" formControlName="confirm_password"  [errorStateMatcher]="parentErrorStateMatcher" required>
              <mat-error *ngFor="let validation of user_validation_messages.confirm_password">
                <mat-error class="error-message" *ngIf="(signupForm.get('matching_passwords').get('confirm_password').hasError(validation.type)|| signupForm.get('matching_passwords').hasError(validation.type)) && (signupForm.get('matching_passwords').get('confirm_password').dirty || signupForm.get('matching_passwords').get('confirm_password').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
          </div>

          <mat-radio-group formControlName='role'>
            <label>Role: </label> <br/><br/>
            <mat-radio-button value="user">user</mat-radio-button>
            <mat-radio-button value="publisher">publisher</mat-radio-button>
            <mat-error *ngFor="let validation of user_validation_messages.role">
              <mat-error class="error-message" *ngIf="signupForm.get('role').hasError(validation.type) && (signupForm.get('role').dirty || signupForm.get('role').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-radio-group>

          <button mat-raised-button color="primary" type="submit">Sign up</button>
        </form>

      </div>
    </mat-card-content>
  </mat-card>
</div>

