
<div class="signin-content animated fadeIn">
  <mat-card>
    <mat-card-content>
      <img src="../../../assets/img/1.png" width="200px">
      <form [formGroup]="signinForm" (ngSubmit)="loginUser()">
        <mat-form-field class="full-width-input"  appearance="outline">
          <input matInput placeholder="email" formControlName="email" required>
          <mat-error *ngIf="isFieldInvalid('email')">
            Please inform your email
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input separate"  appearance="outline">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error *ngIf="isFieldInvalid('password')">
            Please inform your password
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
      <p>	Forgot Password? <a href="reset-password.html">Reset Password</a></p>
    </mat-card-content>
  </mat-card>
</div>

