mat-label, mat-error, mat-hint {
  line-height: 1.4em !important;
}

.cursor-pointer {
  cursor: pointer;
}

.mat-form-field-hint-wrapper {
  direction: rtl;
}

.text-align-left {
  text-align: left !important;
}
