.showcase {
  /*
  position: relative;
  */
  background: url("../../../assets/img/showcase.jpg") no-repeat center center/cover;
  width: 100%;
  min-height: 100vh;
  color: #fff
}

.showcase-inner {
  text-align: center;
  padding-top: 20%;
  height: 100%;
  width: 80%;
  margin: auto
}


